<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<h1> Show Books</h1>

<a th:href="@{/bookadd}">Add book</a>

<h2>Table</h2>
<table border="1">
    <tr>
        <th>Author</th>
        <th>Title</th>
        <th>Price</th>
    </tr>
    <tr th:each="book: ${ksiazki}" th:object="${book}">
        <td th:text="*{author}">Author1</td>
        <td th:text="*{title}">Title1</td>
        <td th:text="*{price}">1234</td>
        <!--/book/delete/1   @PathVariable-->
        <td> <a th:href="@{/book/delete/} + *{id}">Delete</a></td>
        <!--/book/delete?id=1   - @RequestParam-->
        <!--<td> <a th:href="@{/book/delete?id=} + *{id}">Delete</a></td>-->
    </tr>
</table>

</body>
</html>